apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ frontend_app_name }}
  namespace: {{ app_namespace }}
spec:
  replicas: {{ replica_count }}
  selector:
    matchLabels:
      app: {{ frontend_app_name }}
  template:
    metadata:
      labels:
        app: {{ frontend_app_name }}
    spec:
      containers:
      - name: {{ frontend_app_name }}
        image: {{ frontend_app_image }}
        ports:
        - containerPort: {{ f_port_number }}
