apiVersion: v1
kind: Service
metadata:
  name: {{ frontend_app_name }}-service
  namespace: {{ app_namespace }}
spec:
  selector:
    app: {{ frontend_app_name }}
  ports:
  - protocol: TCP
    port: {{ f_port_number }}
    targetPort: {{ f_destination_port }}
