apiVersion: v1
kind: Service
metadata:
  name: {{ database_app_name }}-service
  namespace: {{ app_namespace }}
spec:
  selector:
    app: {{ database_app_name }}
  ports:
  - protocol: TCP
    port: {{ db_port }}
    targetPort: {{ db_port }}
