apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ backend_app_name }}
  namespace: {{ app_namespace }}
spec:
  replicas: {{ replica_count }}
  selector:
    matchLabels:
      app: {{ backend_app_name }}
  template:
    metadata:
      labels:
        app: {{ backend_app_name }}
    spec:
      containers:
      - name: {{ backend_app_name }}
        image: {{ backend_app_image }}
        ports:
        - containerPort: {{ bport_number }}
