apiVersion: v1
kind: Service
metadata:
  name: {{ backend_app_name }}-service
  namespace: {{ app_namespace }}
spec:
  selector:
    app: {{ backend_app_name }}
  ports:
  - protocol: TCP
    port: {{ b_source_port }}
    targetPort: {{ b_destination_port }}
