apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: {{ app_namespace }}
  name: {{ app_lb_name }}
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
spec:
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ frontend_app_name }}
                port:
                  number: {{ f_port_number }}